body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./FFXIV_BG.jpeg");
    background-repeat: no-repeat;
}

#mount-content {
display: flex;
flex-direction: column;
width: 700px;
height: fit-content;
border: 4px solid black;
border-inline-start-color: coral;
border-inline-end-color: rgb(134, 40, 6);
padding: 5px;
align-items: center;
font-family: fantasy;
font-variant-caps: all-petite-caps;
color: rgb(27, 60, 61);
background: lightblue;
}

img{
    height: 225px;
    width: 225px;
}

h2 {
    color: rgb(79, 58, 100);
    text-decoration: underline;
}

.next-button {
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    border-radius: 12px;
  }
  
  .next-button:hover {
    background-color: #22dd41; /* Green */
    color: white;
  }

  .prev-button {
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;

  }
  
  .prev-button:hover {
    background-color: #db2323; /* Green */
    color: white;
  }